@keyframes publicationbibcopied {
    20% {opacity: .999}
    100% {transform: translate3d(-50%,-17px,0)}
}

.publications-copied-label{
    position: relative;
    display: none;
}

.publications-copying {
    animation: publicationbibcopied .5s ease-in-out;
    display: inline;
}