@keyframes publicationbibcopied {
    0%   {left: 0px; top: 0px;}
    100% {left: 0px; top: -20px; opacity: 0;}
}

.publications-copied-label{
    position: relative;
    display: none;
}

.publications-copying {
    animation: publicationbibcopied .5s ease-in-out;
    display: inline;
}