@keyframes publicationbibcopied {
    0%   {top:0px;}
    100% {top:-20px; opacity: 0;}
}

.publications-copied-label{
    position: relative;
    display: none;
}

.publications-copied-label .publications-copying {
    animation-name: publicationbibcopied;
    animation: floatup .5s ease-in-out;
    display: inline;
}